.modal-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}
.hide {
  display: none;
  opacity: 0;
}
.show {
  display: inline-block;
  opacity: 1;
  transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
}
.modal {
  top: 10rem;
  width: 50%;
  height: 400px;
  position: relative;
  border: 1px solid blue;
  left: 25%;
  right: 25%;
  background: white;
}
.modal-close {
  width: 30px;
  height: 30px;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 1000px;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: #fff;
}
.border {
  border: 1px solid blue;
}
.field-container {
  margin: 2rem;
}
.error {
  border: 2px solid red;
}
.valid {
  border: 2px solid green;
}
.blank {
  border: 2px solid orange;
}
.select-container {
  margin: 2rem;
}
.field-container input {
  float: right;
  width: 70%;
}
.grid-12 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.grid-10 {
  display: inline-block;
  vertical-align: middle;
  width: 83.33%;
}
.grid-8 {
  display: inline-block;
  vertical-align: middle;
  width: 66.66%;
}
.grid-6 {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.grid-4 {
  display: inline-block;
  vertical-align: middle;
  width: 33.33%;
}
.grid-2 {
  display: inline-block;
  vertical-align: middle;
  width: 16.66%;
}
